header {
    display: inline-block;
    background-color: #ffffff;
    text-decoration-color: #4aaaa5;
}
  
body {
    background-color:#4aaaa5;
    color: #ffffff;
    width: 960px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    padding: 15%;
    background-image: url("bg.png");
    font-family: Georgia, 'Times New Roman', Times, serif;
}


footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size:8px ;
    padding-top: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    clear: all;
}